@import './variables.scss';

.search{
    
    transition: 5s all;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 26px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    padding: 0 20px ;
    &_icon{
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 20px;
        margin-right: 15px;
        cursor: pointer;
    }

    &_input{
        width: 100%;
        height: 3.25rem;
        border: none;
        background: rgb(255, 255, 255);
        
        font-size: 1.125rem;
        outline: none;
        &::placeholder{
            font-size: 1.125rem;
            color: rgb(104, 152, 213);
        }
        margin-right: 10px;
    }


    &_location{
        border:none;
        background:none;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 20px;
        cursor: pointer;

    }
}